
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /*Indie Flower*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); /*Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');/*Maven Pro*/

body{
    color: #e6f2fb;
}
#Content h2{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    float: left;
    padding: 20px;
    margin: 20px;
}

#Content h1{

    font-family: "Maven Pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: black;
}

#Content h2 {
    font-size: 38px;
    padding: 20px;
    margin: 20px;
    color: black;
}

#Content h3 {
    font-size: 28px;
    padding: 20px;
    margin: 20px;
    color: black;
}

.contact {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    line-height: 2rem;
    font-size: 16px;
    color: black;
}

.content {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 0.2rem;
    font-size: 16px;
    padding: 10px;
    color: black;
}

.footnotes {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 0.2rem;
    font-size: 12px;
    padding: 10px;
    color: black;
}

.list ul {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    list-style-type: disc;
    list-style-position: outside;
    padding: revert;
    text-align: left;
    line-height: 1.6rem;
}

.list li {
    padding-left: 10px;
}

    .list li a {
        text-decoration: none;
        transition: 0.3s;
    }

span{
    font-size: 10px;
}

p{
    padding: 20px;
    margin: 20px;
}