
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap'); /*Indie Flower*/
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'); /*Nunito*/
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');/*Maven Pro*/

body {
    cursor: grab;
    font-family: 'Cambria';
    font-size: 16px;
    color: rgb(27, 28, 39);
    text-align: center;
    background-color: rgb(63, 80, 112)
}

#Content h2{
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    float: left;
    padding: 20px;
    margin: 20px;
}

#Content h1{

    font-family: "Maven Pro", sans-serif;
    font-style: normal;
    font-size: 62px;
    text-shadow: 1px 1px 2px rgb(203, 212, 233);
}

#Content h2 {
    font-size: 38px;
    padding: 20px;
    margin: 20px;
    color: black;
}

#Content h3 {
    padding: 20px;
    margin: 20px;
    font-size: 28px;
    text-shadow: 1px 1px 1px rgb(203, 212, 233);
}

.contact {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: right;
    line-height: 2rem;
    font-size: 16px;
    color: black;
}

.content {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 0.2rem;
    font-size: 16px;
    padding: 10px;
    color: black;
}

.footnotes {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    line-height: 0.2rem;
    font-size: 12px;
    padding: 10px;
    color: black;
}

.list ul {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    list-style-type: disc;
    list-style-position: outside;
    padding: revert;
    text-align: left;
    line-height: 1.6rem;
}

.list li {
    padding-left: 10px;
}

    .list li a {
        text-decoration: none;
        transition: 0.3s;
    }

span{
    font-size: 10px;
}

p{
    padding: 20px;
    margin: 20px;
}

.container{
    background-color: rgb(138, 150, 178);
}

.topnav {
    overflow: hidden;
    background-color: rgb(26, 33, 46);
}

.topnav a {
    float: none;
    display: inline-block;
    color: rgb(45, 25, 31);
    background-color: rgb(192, 195, 224);
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;
    font-size: 16px;
}

.topnav a:hover {
    background-color: rgb(34, 25, 46);
    color: rgb(140, 88, 114);
}

.topnav a.active {
    background-color: rgb(34, 25, 46);
    color: rgb(192, 195, 224);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

@media screen and (max-width: 900px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 900px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }

    body {
        background-color: rgb(63, 80, 112)
    }
}