@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/*Quicksand import*/
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Maven+Pro:wght@400..900&display=swap');
/*Forum import*/
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*Kodchasan import*/

:root {
    --primary: #f0f0f8;
    /*primary: light gray*/
    --secondary: #071A54;
    /*secondary: dark blue*/
    --tertiary: #6397c0;
    /*tertiary: ashy blue*/
    --complimentary: #9cbdd8;
    /*complimentary: light blue*/
    --accent: #cf8db4;
    /*accent: light pink*/
    --font-primary: "Kodchasan", serif;
    font-weight: 100;
    /*font-family: Kodchasan*/
}

html {
    font-size: 62.5%;
    font-family: var(--font-primary);
    font-style: normal;
    background-color: var(--primary);
    color: var(--secondary);
}

body {
    line-height: 1.6rem;
    background-color: var(--primary);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: var(--font-primary);
    font-style: normal;
    color: var(--secondary);
    font-size: 3.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-family: var(--font-primary);
    font-style: normal;
    color: var(--secondary);
    font-size: 2.8rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#nav {
    display: block;
    font-family: var(--font-primary);
    font-style: normal;
    background-color: var(--complimentary);
    color: var(--primary);
    text-align: center;
    font-size: 2.4rem;
    padding: 2rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tagline {
    font-size: 1.8rem;
}

#nav ul {
    list-style-type: none;
    padding: 18px 4px;
}

#nav li {
    display: inline;
    padding: 16px;
}

    #nav li a {
        padding: inherit;
        margin: inherit;
        text-decoration: none;
        color: var(--primary);
        transition: background-color 0.6s, color 0.8s;
        border-radius: 30px;
    }

        #nav li a:hover {
            background-color: var(--complimentary);
            color: var(--tertiary);
            overflow: hidden;
        }

#content {
    padding: 3rem;
    flex: 1;
}

    #content a {
        list-style-type: none;
        text-decoration: none;
        color: var(--secondary);
        transition: background-color 0.4s, color 0.3s;
    }

        #content a:hover {
            color: var(--complimentary);
        }

#footer {
    display: block;
    background-color: var(--tertiary);
    color: var(--primary);
    padding: 8rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

p {
    font-family: var(--font-primary);
    font-style: normal;
    color: var(--tertiary);
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding: 1 rem;
}

.profile-picture {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.thumbnails{
    max-width: 80%;
    height: auto;
 
    transition: filter 0.3s ease;
}

.thumbnail-link{
    text-decoration: none;
    color: inherit;
}

.thumbnail-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.thumbnail-wrapper:hover .thumbnails {
    filter: blur(4px);
}

.thumbnail-wrapper:hover .caption{
    opacity: 1;
}