@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); /*Quicksand import*/
@import url('https://fonts.googleapis.com/css2?family=Forum&family=Maven+Pro:wght@400..900&display=swap'); /*Forum import*/
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); /*Kodchasan import*/

:root {
    --primary: #F7F5F3; /*primary: light gray*/
    --secondary: #071A54; /*secondary: dark blue*/
    --tertiary: #6397c0; /*tertiary: ashy blue*/
    --complimentary: #9cbdd8; /*complimentary: light blue*/
    --accent: #cf8db4; /*accent: light pink*/
    --font-primary: "Kodchasan", serif;
}

html{
    font-size: 62.5%;
    font-family: var(--font-primary);
    font-style: normal; 
    background-color: var(--primary);
    color: var(--secondary);
}

body{
    line-height: 1.2rem;
}


#header{
    background-color: var(--tertiary);
    font-family: var(--font-primary);
    font-style: normal; 
    color: var(--secondary);
    padding: 1rem;
    text-align: center;
}

#header h1{
    font-size: 5.2rem;
}

#nav{
    display: block;
    font-family: var(--font-primary);
    font-style: normal; 
    background-color: var(--complimentary);
    color: var(--primary);
    text-align: center;
    font-size: 2.4rem;
    padding: 2rem;
}

#nav ul {
    list-style-type: none;
    border-radius: 100px;
    padding: 20px 6px;
}

#nav li {
    display: inline;
    padding: 16px;
}

    #nav li a {
        padding: inherit;
        margin: inherit;
        text-decoration: none;
        color: var(--primary);
        transition: background-color 0.6s, color 0.8s;
        border-radius: 30px;
    }

        #nav li a:hover {
            background-color: var(--secondary);
            color: var(--complimentary);
            overflow: hidden;
        }