@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --primary: #F7F5F3; /*primary: light gray*/
    --secondary: #414E70; /*secondary: dark blue*/
    --tertiary: #73828C; /*tertiary: ashy blue*/
    --complimentary: #DB9FB9; /*complimentary: pink*/
}

html{
    font-size: 62.5%;
    font-family: "Quicksand", sans-serif; 
    background-color: var(--primary);
    color: var(--secondary);
}

body{
    line-height: 1.2rem;
}

#header{
    background-color: var(--tertiary);
    font-family: "Quicksand", sans-serif;
    color: var(--secondary);
    padding: 1rem;
    text-align: center;
}

#header h1{
    font-size: 4rem;
}

#nav{
    display: block;
    background-color: var(--complimentary);
    color: var(--primary);
    text-align: center;
    border-radius: 50px;
}

nav ul {
    list-style-type: none;
    border-radius: 100px;
    padding: 16px 16px;
}

nav li {
    display: inline;
}

    nav li a {
        padding: inherit;
        margin: inherit;
        text-decoration: none;
        color: var(--complimentary);
    }

        nav li a:hover {
            background-color: var(--primary);
            color: var(--secondary);
            transition: 0.3s;
            overflow: hidden;
        }